@import '@fontsource/fira-mono';

:root {
	font-family: 'Times New Roman', Times, serif, -apple-system, Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: rgb(29, 53, 87);
	--secondary-color: rgb(168, 218, 220);
	--tertiary-color: #e7edff;
	--accent-color: rgb(230, 57, 70);
	--accent-color-dark: rgb(0, 60, 255);
	--accent-color-light: rgb(255, 255, 255);
	--heading-color: rgba(1, 14, 20, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(241, 250, 238, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--column-margin-bottom: 4rem;
	--column-margin-left: 4rem;
	--column-margin-right: 4rem;
	--column-padding-top: 2rem;
	--column-padding-bottom: 2rem;
	--column-padding-left: 2rem;
	--column-padding-right: 2rem;
	--column-border-width: 1px;
	--column-border-color: #e6e6e6;
	--column-border-style: solid;
	--column-border-radius: 0;
	--column-background-color: #ffffff;
	--column-background-opacity: 0.7;
	--column-background-image: none;
	--column-background-repeat: no-repeat;
	--column-background-position: center center;
	--column-background-size: cover;
	--column-background-attachment: scroll;
	--column-box-shadow: none;
	--column-box-shadow-color: #e6e6e6;
	--column-box-shadow-offset-x: 0;
	--column-box-shadow-offset-y: 0;
}

/*
 * Base styles
 */

html {
	font-size: 1rem;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 90vh;
	position: absolute;
	top: 10vh;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
	color: rgb(5, 16, 6);
}

a {
	color: var(--accent-color-dark);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
